.add_purchase_tab {
    background-color: #ecf0f1;
    padding: 1em; 
    margin: 1em auto;
    box-sizing: border-box; 
    max-width: 100%; 
}

.add_purchase_tab h3 {
    font-size: 1.5rem; 
    color: #2c3e50; 
    margin-bottom: 10px; 
    text-align: center;
}

.add_purchase_tab select,
.add_purchase_tab input[type="number"] {
    width: 80%; 
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
}

.add_purchase_tab textarea[type="text"] {
    width: 80%; 
    height: 20px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
}
  
.add_purchase_tab button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #256d34;
    color: white;
    cursor: pointer;
}
  
.add_purchase_tab button:hover {
    background-color: #256d34;
}

.add_purchase_tab .submission_btns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

label {
    font-size: 1.4em; 
    font-weight: bold;
    color: #2c3e50; 
}

.budget_preview_container {
    background: linear-gradient(to right, #00b09b, #96c93d); 
    border-radius: 10px;
    padding: 5px 5px;
    margin: 10px auto; 
    color: white; 
    text-align: center; 
    font-size: 20px;
    font-weight: 500;
    height: 130px;
    width: 60%; 
    max-width: 400px; 
    box-sizing: border-box;
}


