
.App {
    height: 500px;
    width: 430px;
    background-color: #ecf0f1;
    font-family: Sans-Serif;
    color: #2c3e50;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; 
    background-color: #ecf0f1; 
    display: flex;
    justify-content: center; 
}