.navbar button {
    align-items: center;
    background: linear-gradient(to right, #00b09b, #96c93d);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 12px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 100px;
    padding: 8px 18px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
}

.navbar button:active {
    background: #3bdb83;
    color: whitesmoke;
}
.navbar button:hover {
    background: #3bdb83;
    color: whitesmoke;
}

.App {
    height: 500px;
    width: 450px;
}