
.navbar button {
    background-color: #04AA6D;
    border: 1px solid white;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

.navbar button:hover {
    background-color: #a8e7c4;
    color: whitesmoke;
}

.navbar button:focus {
    background-color: #5bd2a6;
    color: white;
}

.App {
    height: 500px;
    width: 400px;
}